<h2>Edit post for <%= @recipient.name%></h2>

<% if @post.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/posts/<%= @post.id %>/edit" method="post">
  <%= render('form') %>
  <button>Post!</button>
</form>
