/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require 'bootstrap'
 */

body {
  background-color: #99CCFF;
}

h1 {
}

.post {
}

.poster {
  float: left;
  margin-right: 2px;
}

.delete_post {
  float: right;
  margin-left: 2px;
}

a#poster {
  color: green;
}

a#delete {
 color: red;
 text-decoration: none;
}

a#delete-friend {
  color: red;
  text-decoration: none;
}

.post-content {
  background-color: #CCCCCC;
  margin-top: 10px;
  margin-bottom: 10px;
  min-width: 300px;
  max-width: 75%;
  padding: 2px;
  padding-bottom: 20px;
}

.post-content2 {
  padding: 2px;
  background-color: #99CCFF;
  min-width: 300px;
  max-width: 75%;
  padding-bottom: 20px;
}
